<div id="print" *ngIf="DisplayStatus">


    <div class="container billhead ">

        <div class="left">
            <img src="/assets/img/kaarlogo.jpg" alt="">
            <h3>KAAR TECHNOLOGIES</h3>
            <h6>25,Arcot Road ,Shyamala Tower</h6>
            <h6>Chennai-600028</h6>
        </div>
        <div class="right">
            <img src="/assets/img/orglogo.jpg" alt="">
            <h3>{{OrgData["ORGNAME"]}}</h3>
            <h6>{{OrgData["STREET"]+' Ford Yard'}}</h6>
            <h6>{{'Chennai-'+OrgData["POSTALCODE"]}}</h6>
        </div>

    </div>

    <!-- <div class="card-header">
      <h2>{{'Purchase Order No :'+GoodsHeader.MAT_DOC_NO}}</h2>
  </div> -->

    <div class="content container">
        <h2 class="text-center text-danger  card-header">Purchase Order History </h2>
        <div class="head flex-row card-header">
            <h5 class="text-center text-black-700 m-4">{{'Purchase Order No : '+selectedData}}</h5>
            <h5 class="text-center text-blue-700 m-4">{{'Document Year : '+OrderHistory[0]["MAT_DOC_YEAR"]}}</h5>
        </div>
        <div class="head flex-row justify-content-around  card-footer bg-yellow-300">
            <h5 class="text-center text-black-700 m-4">{{'Purchase Order Created Date : '+OrderHistory[0]["DOC_DATE"]}}</h5>
            <h5 class="text-center text-blue-700 m-4">{{'Posting Date : '+OrderHistory[0]["MAT_DOC_YEAR"]}}</h5>
        </div>

        <div class="head flex-row justify-content-around  card-header bg-yellow-300">
            <h5 class="text-center text-black-700 m-4">{{'Accounting Document Created On : '+OrderHistory[0]["ACC_DOC_ENTER_DAT"]}}</h5>
            <h5 class="text-center text-blue-700 m-4">{{'Accounting Document Created Time : '+OrderHistory[0]["ACC_DOC_ENTER_TIM"]}}</h5>
        </div>

        <div class="head flex-row justify-content-around  card-footer">
            <h5 class="text-center text-black-700 m-4">{{'Local Currency Type : '+OrderHistory[0]["LOC_CURR_KEY"]}}</h5>
            <h5 class="text-center text-blue-700 m-4">{{'Document Currency Type : '+OrderHistory[0]["CURR_KEY"]}}</h5>
        </div>

        <div class="head flex-row justify-content-around  card-header">
            <h5 class="text-center text-black-700 m-4">{{'Storage Plant : '+OrderHistory[0]["PLANT"]}}</h5>
            <h5 class="text-center text-blue-700 m-4">{{'Accounting Year : '+OrderHistory[0]["FISCAL_YEAR"]}}</h5>
        </div>











        <div class="tab ">
            <table class="table table-bordered table-striped  table-hover table-responsive-md" id="salordtab">
                <thead class="bg-primary text-blue-500 border-solid text-capitalize text-md-center border-dark ">
                    <tr class="hover:bg-primary-reverse">
                        <th scope="col" class="border-solid border-dark">Item No</th>
                        <th scope="col" class="border-solid border-dark">Document No</th>
                        <th scope="col" class="border-solid border-dark">Document Item No</th>
                        <th scope="col" class="border-solid border-dark">Material No</th>
                        <th scope="col" class="border-solid border-dark">Total Quantity</th>

                        <th scope="col" class="border-solid border-dark">Quantity in Purchase Order</th>


                        <th scope="col" class="border-solid border-dark">Amount in Local Currency</th>
                        <th scope="col" class="border-solid border-dark">Amount in Document Currency</th>
                        <th scope="col" class="border-solid border-dark">Credit/Debit</th>


                    </tr>
                </thead>
                <tbody class="active border-solid border-dark text-black-500 font-bold font-roboto
          text-center">
                    <tr class="hover:bg-primary-reverse" *ngFor="let item of OrderHistory; let i=index">
                        <th scope="row" class="border-black-alpha-80">{{item["ITEM_NO"]}}</th>
                        <td class="border-black-alpha-80">{{item["NO_OF_MAT_DOC"]}}</td>
                        <td class=" border-black-alpha-80">{{item["MAT_DOC_ITEM"]}}</td>

                        <td class="border-black-alpha-80">{{item["MAT_NO"]}}</td>

                        <td class="bg-white border-black-alpha-80">{{item['QUANTITY']}}</td>
                        <td class="bg-white border-black-alpha-80">{{item['QUANTITY_PO_UNIT']}}</td>
                        <td class="bg-white border-black-alpha-80">{{item['AMT_LOC_CURR']}}</td>
                        <td class="bg-white border-black-alpha-80">{{item['AMT_DOC_CURR']}}</td>
                        <td class="border-black-alpha-80 bg-danger text-white" *ngIf="item['DEBCREDIND']=='H'">Credit</td>
                        <td class="border-black-alpha-80 bg-green-800 text-white" *ngIf="item['DEBCREDIND']=='S'">Debit</td>



                    </tr>
                </tbody>
            </table>
        </div>



    </div>

    <div class="details container">
        <p>.</p>

    </div>

    <div class="calculate card ">
        <div class="card-header">
            <h3 class="text-center">History Details Summary</h3>
        </div>
        <div class="card-body">

            <div class="quant">
                <h5 class="text-danger ">Total Ordered Quantity :</h5>
                <h5>{{TotalQuant + ' Nos'}}</h5>
            </div>

            <div class="quant">
                <h5 class="text-danger">Total Amount in Local Currency :</h5>
                <h5 class="">{{TotalAmtLocCurr + OrderHistory[0]['LOC_CURR_KEY']}}</h5>
            </div>

            <div class="quant">
                <h5 class="text-success">Total Paid Amount in Local Currency :</h5>
                <h5 class="">{{TotalPaidAmt + ' '+OrderHistory[0]['LOC_CURR_KEY']}}</h5>
            </div>



        </div>

        <div class="card-footer">
            <h5 class="text-danger">{{'Balance Amount to be paid in Local currency: '+' '}}</h5>
            <h5>{{''+TotalBalAmt +' '+ OrderHistory[0]['LOC_CURR_KEY']}}</h5>
        </div>



    </div>

    <div class="details container">
        <p>.</p>

    </div>




    <div class="subscribe-us-area container">
        <div class="container subscribe">
            <div class="row">
                <div class="col-lg-12 text-center subscribe-title">
                    <h4 class="text-uppercase">Kaar Technologies . 25 yrs of excellence in SAP .</h4>
                    <h5 class="para">Best CRM Pure Play SAP Providers .
                    </h5>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="download">
    <button type="submit" class="btn btn-dark" (click)="ExportPDF()"> <i class="fa fa-download" style="font-size:30px;color:white"></i> Download Purchase Order History</button>
    <!-- <button type="button" class="btn btn-warning"> <i class="fa fa-arrow-circle-left " style="font-size:30px;color:white"></i> Back To Purchase Order</button> -->

</div>


<div class="container" *ngIf="!DisplayStatus">
    <h3 class="card-header text-center text-capitalize text-danger">{{'No Goods Reciept Data is found for this Purchase Order No'+' '+selectedData }}</h3>
</div>